@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'variables';

@layer components {
    // I know the tailwind docs say not use composite classes if at all possible, but whatever.
    .accent-color {
        @apply bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent;
    }

    // .blue-bullet {
    //     @apply marker:content-['\2981'] marker:text-sky-500;
    // }

        .blue-bullet {
            @apply relative before:content-['\2981'] before:absolute before:left-[-0.6em] before:top-[-0.1em] before:text-3xl before:text-sky-500;
        }
}

@layer utilities {
    .overflow-anywhere {
      overflow-wrap: anywhere;
    }

    .from-right {
        opacity: 0;
        @apply translate-x-1/2;
    }

    .from-right.is-inViewport {
        opacity: 1;
        @apply translate-x-0;
        
    }

    .from-left {
        opacity: 0;
        @apply -translate-x-1/2;
    }

    .from-left.is-inViewport {
        opacity: 1;
        @apply translate-x-0;
        
    }

    .fade-in {
        opacity: 0;
    }

    .fade-in.is-inViewport {
        opacity: 1;
    }
}


  